InterviewUI/Service References/DistrictSrv/DistrictService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DistrictService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15236/DistrictService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15236/DistrictService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15236/DistrictService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InterviewService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDistrictService_addDistrict_InputMessage">
    <wsdl:part name="parameters" element="tns:addDistrict" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_addDistrict_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_getAllDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDistricts" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_getAllDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_changePrimarySalesPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:changePrimarySalesPerson" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_changePrimarySalesPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:changePrimarySalesPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_getDistrictSalePersons_InputMessage">
    <wsdl:part name="parameters" element="tns:getDistrictSalePersons" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_getDistrictSalePersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDistrictSalePersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_getStoresOnDistrict_InputMessage">
    <wsdl:part name="parameters" element="tns:getStoresOnDistrict" />
  </wsdl:message>
  <wsdl:message name="IDistrictService_getStoresOnDistrict_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStoresOnDistrictResponse" />
  </wsdl:message>
  <wsdl:portType name="IDistrictService">
    <wsdl:operation name="addDistrict">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistrictService/addDistrict" message="tns:IDistrictService_addDistrict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistrictService/addDistrictResponse" message="tns:IDistrictService_addDistrict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistrictService/getAllDistricts" message="tns:IDistrictService_getAllDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistrictService/getAllDistrictsResponse" message="tns:IDistrictService_getAllDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changePrimarySalesPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistrictService/changePrimarySalesPerson" message="tns:IDistrictService_changePrimarySalesPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistrictService/changePrimarySalesPersonResponse" message="tns:IDistrictService_changePrimarySalesPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDistrictSalePersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistrictService/getDistrictSalePersons" message="tns:IDistrictService_getDistrictSalePersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistrictService/getDistrictSalePersonsResponse" message="tns:IDistrictService_getDistrictSalePersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStoresOnDistrict">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistrictService/getStoresOnDistrict" message="tns:IDistrictService_getStoresOnDistrict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistrictService/getStoresOnDistrictResponse" message="tns:IDistrictService_getStoresOnDistrict_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="DistrictService" />
</wsdl:definitions>