InterviewWPF/Service References/DistrictSRV/DistrictService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InterviewService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InterviewService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDistrict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="District" nillable="true" type="tns:District" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistrict" nillable="true" type="tns:ArrayOfDistrict" />
  <xs:complexType name="District">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimSalePersonId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="District" nillable="true" type="tns:District" />
  <xs:complexType name="ArrayOfSalePerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalePerson" nillable="true" type="tns:SalePerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalePerson" nillable="true" type="tns:ArrayOfSalePerson" />
  <xs:complexType name="SalePerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalePerson" nillable="true" type="tns:SalePerson" />
  <xs:complexType name="ArrayOfStore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Store" nillable="true" type="tns:Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStore" nillable="true" type="tns:ArrayOfStore" />
  <xs:complexType name="Store">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistrictId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Store" nillable="true" type="tns:Store" />
</xs:schema>