InterviewUI/Service References/AssignedPersonSrv/AssignedSalePersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="assignSalePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salePersonId" type="xs:int" />
        <xs:element minOccurs="0" name="districtId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assignSalePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assignSalePersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAssignedPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salePersonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAssignedPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAssignedPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>